@mixin cards {
  border-radius: 6px;
  box-shadow: 0 2px 2px hsla(38, 16%, 76%, 0.5);
  background-color: #fff;
  color: #252422;
  position: relative;
  z-index: 1;
  border: none;
  margin: 1rem 1rem;
}

@mixin h7 {
  font-size: 5rem;
}
// @mixin card-content {
//   padding: 10px 20px 10px;
// }

// @mixin card-body {
//   padding: 0 10px;
// }

// @mixin heading-4 {
//   font-size: 21px;
//   font-weight: 500;
//   margin: 0;
//   color: $dark-font-color;
// }
