// Media queries
@media (max-width: 900px) {
  // Navbar

  #dashboard,
  #user-profile,
  #table-list,
  #products,
  #customers,
  #location,
  .footer,
  #partners {
    float: none !important;
    width: 100% !important;
  }

  .navbar {
    display: none !important;
  }

  // Sidebar
  .sidebar {
    display: none;
  }

  // Sidenav navbar
  #mobile-nav {
    display: block !important;
  }

  // Edit Profile
  .edit-profile {
    flex: auto;
  }

  // Charts
  .email-sales-charts {
    display: grid;
    grid-template-columns: 1fr;
  }

  // Products
  // Partners
  #products .box, #partners .box {
    grid-template-columns: repeat(2, 1fr) !important;
  }

  // 
}

@media (max-width: 600px) {
  // Dashboard
  .top-nav {
  .label {
    display: block;
    margin: 7px 0 7px 2px;
  }

    button {
      margin-top: 10px;
    }
  }

  // Partners
  // Products 
   #products .box, #partners .box {
    grid-template-columns: 1fr !important;
  }

  // Customers
  #customers .table-content {
      overflow-x: auto !important;
    }

  
}
